@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?&family=Ruda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cute+Font&display=swap");
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0px 7px 16px -3px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 7px 16px -3px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 7px 16px -3px rgba(0, 0, 0, 0.39);
  z-index: 2;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Cute Font", cursive;
  text-decoration: none;
  color: rgb(117, 98, 122);
  font-size: 55px;
  position: relative;
  z-index: 3;
  background: #9B00FA;
  background: linear-gradient(to right, hwb(277 0% 2%) 0%, #FF7BBA 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__logo img {
  width: 50px;
  height: auto;
}
.header h1 {
  width: 100%;
  text-align: center;
  font-family: "Cute Font", cursive;
  font-size: 50px;
  color: #525252;
  z-index: 2;
  font-weight: 500;
  background: #525252;
  background: #525252;
  background: linear-gradient(to bottom, #525252 35%, #FF7BBA 74%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}
.header__list li {
  list-style: none;
  margin-left: 20px;
}
.header__link {
  font-family: "Ruda", sans-serif;
  text-transform: uppercase;
  color: #4c4c4c;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}
.header__burger {
  display: none;
}

.content {
  padding-top: 70px;
}

.front-element {
  margin-bottom: 100px;
}
.front-element__background {
  position: relative;
  width: 100%;
  height: auto;
  box-shadow: 0px 7px 16px -3px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 7px 16px -3px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 7px 16px -3px rgba(0, 0, 0, 0.39);
}
.front-element h1 {
  position: absolute;
  top: 0;
  color: white;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  font-size: 4vw;
  margin: 180px 50px;
  text-shadow: 0px 5px 40px #202020;
}
.front-element .gradient1 {
  background: linear-gradient(to right, rgb(255, 123, 186) 20%, rgb(15, 223, 255) 40%, rgb(15, 223, 255) 60%, rgb(255, 123, 186) 80%);
  background-size: 200% auto;
  color: #000;
  font-size: 5vw;
  font-weight: 800;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 7s linear infinite;
          animation: shine 7s linear infinite;
}
@-webkit-keyframes shine {
  to {
    background-position: 200% center;
  }
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.gradient2 {
  background: linear-gradient(to right, rgb(255, 123, 186) 20%, rgb(155, 0, 250) 40%, rgb(155, 0, 250) 60%, rgb(255, 123, 186) 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 7s linear infinite;
          animation: shine 7s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.active-button {
  width: 250px;
  height: 50px;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  background: rgb(64, 132, 238);
  background: linear-gradient(180deg, rgb(64, 132, 238) 0%, rgb(128, 107, 241) 87%);
  color: white;
  font-family: "Ruda", sans-serif;
  cursor: pointer;
}

.active-button:hover {
  background: rgb(48, 97, 175);
  background: linear-gradient(180deg, rgb(60, 118, 210) 0%, rgb(117, 99, 210) 87%);
}

.active-button:active {
  background: rgb(117, 99, 210);
  background: linear-gradient(180deg, rgb(117, 99, 210) 0%, rgb(60, 118, 210) 87%);
}

.headline-button {
  position: absolute;
  top: 0;
  left: 0;
  margin: 37vw 4.5vw;
  width: 25vw;
  height: 5vh;
  font-size: 1.5vw;
  font-family: "Ruda", sans-serif;
}

.advantages {
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.advantages__title {
  font-size: 37px;
  margin-bottom: 20px;
  color: #2d2c2c;
}
.advantages__description {
  font-size: 22px;
  color: #4c4c4c;
}
.advantages img {
  width: 50%;
  height: auto;
}

@media (max-width: 1100px) {
  .front-element {
    margin-bottom: 40px;
  }
  .front-element h1 {
    margin: 120px 30px;
  }
  .headline-button {
    width: 23vw;
    height: 4vh;
  }
  .advantages__title {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .advantages__description {
    font-size: 18px;
    color: #4c4c4c;
  }
}
@media (max-width: 800px) {
  body.lock {
    overflow: hidden;
  }
  .header h1 {
    font-size: 30px;
  }
  .header__body {
    height: 50px;
  }
  .header__logo {
    font-size: 45px;
  }
  .header__logo img {
    width: 40px;
    height: auto;
    margin-bottom: 5px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgb(212, 143, 255);
    background: linear-gradient(146deg, rgb(212, 143, 255) 20%, rgb(255, 205, 229) 87%);
    padding: 70px 10px 10px 10px;
    transition: all 0.5s ease 0s;
  }
  .header__menu.active {
    top: 0;
    transition: all 0.5s ease 0s;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0px 0px 20px 0px;
  }
  .header__link {
    color: white;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 3;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    background-color: #4c4c4c;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 5px;
  }
  .header__burger:after {
    bottom: 5px;
  }
  .header__burger span {
    position: absolute;
    background-color: #4c4c4c;
    left: 0;
    width: 100%;
    height: 2px;
    top: 14px;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 14px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 14px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .content {
    padding: 50px 0px 0px 0px;
  }
  .front-element {
    margin-bottom: 30px;
  }
  .front-element h1 {
    margin: 80px 20px;
  }
  .headline-button {
    width: 20vw;
    height: 3vh;
  }
  .advantages {
    margin-bottom: 40px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .advantages__item1 {
    order: 2;
  }
  .advantages__item2 {
    order: 1;
  }
  .advantages__title {
    margin-bottom: 10px;
  }
  .advantages__description {
    font-size: 18px;
  }
  .advantages img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 414px) {
  .header h1 {
    font-size: 25px;
  }
  .front-element {
    margin-bottom: 20px;
  }
  .front-element h1 {
    margin: 80px 20px;
  }
  .headline-button {
    margin: 45vw 4vw;
    width: 23vw;
    height: 2vh;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "DM Sans", sans-serif;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 10px;
}/*# sourceMappingURL=style.css.map */