.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;

  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0px 7px 16px -3px rgba(0,0,0,0.39);
    -webkit-box-shadow: 0px 7px 16px -3px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 7px 16px -3px rgba(0,0,0,0.39);
    z-index: 2;
  }
  &__body{
    position:relative;
    display: flex;
    justify-content:space-between;
    height: 70px;
    align-items: center;
  }
  &__logo{
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Cute Font', cursive;
    text-decoration: none;
    color: rgb(117, 98, 122);
    font-size: 55px;
    position:relative;
    z-index: 3;
    background: #9B00FA;
    background: linear-gradient(to right, #9B00FA 0%, #FF7BBA 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    img{
      width: 50px;
      height: auto;
    }
  }
  h1{
    width: 100%;
    text-align: center;
    font-family: 'Cute Font', cursive;
    font-size: 50px;
    color: #525252;
    z-index: 2;
    font-weight: 500;
    background: #525252;
    background: #525252;
    background: linear-gradient(to bottom, #525252 35%, #FF7BBA 74%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;


  }
  &__list {
    display:flex;
    position: relative;
    z-index: 2;
    li{
      list-style: none;
      margin-left: 20px;;
    }
  }
  &__link{
    font-family: 'Ruda', sans-serif;
    text-transform: uppercase;
    color: #4c4c4c;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
  }
  &__burger{
    display: none;
  }
}

.content{
  padding-top: 70px;
}
.front-element{
  img{
    position: relative;
    width: 100%;
    height: auto;
  }
  h1{
    position: absolute;
    top: 0;
  }
}

@media(max-width:800px){
  body.lock{
    overflow: hidden;
  }

  .header{
    h1{
      font-size: 30px;
    }
    &__body{
      height: 50px;
    }
    &__logo{
      font-size: 45px;
      img{
        width: 40px;
        height: auto;
        margin-bottom: 5px;
      }
    }
    &__menu{
      position:fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background: rgb(212,143,255);
      background: linear-gradient(146deg, rgba(212,143,255,1) 20%, rgba(255,205,229,1) 87%);
      padding: 70px 10px 10px 10px;
      transition: all 0.5s ease 0s;
    }
    &__menu.active{
      top: 0;
      transition: all 0.5s ease 0s;
    }
    &__list{
      display: block;
      li{
        margin: 0px 0px 20px 0px;
      }
    }
    &__link{
      color: white;
    }
  }

  .header__burger{
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    position:relative;
    z-index: 3;

    &:before, &:after{
      content:'';
      background-color: #4c4c4c;;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
    }
    &:before{
      top: 5px;
    }
    &:after{
      bottom: 5px;
    }
    span{
      position: absolute;
      background-color: #4c4c4c;;
      left: 0;
      width: 100%;
      height: 2px;
      top: 14px;
      transition: all 0.3s ease 0s;
    }
    &.active:before{
      transform: rotate(45deg);
      top: 14px;
    }
    &.active:after{
      transform: rotate(-45deg);
      bottom: 14px;
    }
    &.active span{
      transform: scale(0);
    }
  }

  .content{
    padding: 50px 0px 0px 0px;
  }
}

@media(max-width: 414px){
  .header{
    h1{
      font-size: 25px;
    }
  }
}
